<div class="k-row-actions">
  @if (has('view')) {
    <p-button icon="pi pi-eye" [text]="true" [rounded]="true" size="small" severity="secondary" pTooltip="View"
      tooltipPosition="top" [ariaLabel]="describe('View')" (onClick)="view.emit()" />
  }
  @if (has('edit')) {
    <p-button icon="pi pi-pencil" [text]="true" [rounded]="true" size="small" severity="secondary" pTooltip="Edit"
      tooltipPosition="top" [ariaLabel]="describe('Edit')" (onClick)="edit.emit()" />
  }
  @if (has('delete')) {
    <p-button icon="pi pi-trash" [text]="true" [rounded]="true" size="small" severity="danger" pTooltip="Delete"
      tooltipPosition="top" [ariaLabel]="describe('Delete')" (onClick)="remove.emit()" />
  }
</div>
