/* You can add global styles to this file, and also import other style files */
@use "./app/share/style/index.scss";

@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif, 'Noto Sans Khmer', 'Battambang';
    line-height: 1.5;
}

html {
    scroll-behavior: smooth;
}

.section-anchor {
    scroll-margin-top: 5rem;
}

html[lang="km"] {
    font-family: 'Noto Sans Khmer', 'Battambang', sans-serif;
}